.searchContainer  {
  display: flex;
  align-items: center; /* Centra cualquier cosa dentro del span */
  justify-content: center;
  gap: 5px;
}
.searchIcon {
  font-size: 1.5rem;
  border-radius: 50%;
  transition: 0.5s;
}
.searchInput {
  width: 100%;
  padding: 5px 15px;
  font-size: 1rem;
  color: #333;
  background-color: #ffffff;
  border: 2px solid #e0e0e0; /* Un borde suave al principio */
  border-radius: 30px;       /* Muy redondeado para un look moderno */
  outline: none;             /* Quitamos el borde azul feo por defecto */
  transition: all 0.3s ease; /* Suaviza todos los cambios */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); /* Sombra muy sutil */
}

/* Efecto cuando el usuario hace clic en el input */
.searchInput:focus {
  border-color: #61bc84;     /* Cambia el color del borde al tuyo */
  box-shadow: 0 0 8px rgba(97, 188, 132, 0.3); /* Resplandor suave */
  transform: translateY(-2px); /* Un pequeño efecto de elevación */
}

/* Estilo para el placeholder */
.searchInput::placeholder {
  color: #aaa;
  font-style: italic;
}

